{% extends "mysite/header.html" %} {% block content %} {% load staticfiles %}
<center>
    <img src="https://dl.dropboxusercontent.com/s/8nvy60981c1w77o/profile.jpg?dl=0" class="responsive-img img-circle" style="max-height:100px" alt="profile image">
    <br>
</center>
<br>
<div class="row">
    <div class="col-md-1 col-sm-0 col-xs-0"></div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <p class="modified-p">Programmer. Fullstack web developer. I am currently in senior year of electronics and communications engineering at <a href="http://www.uceou.edu" target="_blank" class="more-posts">UCEOU</a>. My interests include programming, algorithms and data structure, python and the Arduino development platform. In my free time I code or prototype on the Arduino Uno.</p>
        <h3 class="modified-h3">Internships</h3>
        <p class="modified-p">I have done an internship at Defence Electronics and Research Laboratory, Hyderabad, where I worked on a project to analyse a hypothetical received signal using FFT. The Cooley-Tukey FFT algorithm was implemented in C and MATLAB. A correlation was also found between the radix sizes and the accuracy with which signal properties can be obtained.</p>
        <h3 class="modified-h3">Technical Skills</h3>
        <p class="modified-p">Python, Django, Node.js, JavaScript, C, C++, MATLAB</p>
        <p class="modified-p">
            <a href="https://drive.google.com/file/d/0B621iZr0p0N_MnpmVWZiMy1LWE0/view?usp=sharing" target="_blank" style="color: #33691E;">Resume</a>
        </p>
        <p class="modified-p">To view my projects and portfolio go <a href="#" class="green-a">here</a></p>
        <p class="modified-p">To contact me click <a href="/contact" class="green-a">here</a></p>
        <p class="modified-p">Visit my GitHub profile
            <a href="https://www.github.com/khansubhan95/" target="_blank">
                <span class="fa-stack fa-lg icon-github">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x"></i>
                </span>
            </a>
        </p>
        <p class="modified-p">LinkedIn
            <a href="https://www.linkedin.com/in/subhan95/" target="_blank">
                <span class="fa-stack fa-lg icon-linkedin">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-linkedin fa-stack-1x"></i>
                </span>
            </a>
        </p>
    </div>
    <div class="col-md-1 col-sm-0 col-xs-0"></div>
</div>
{% endblock %}
