{% extends "mysite/header.html" %}
{% block content %}
<!-- <p class="modified-p">This is the about website page<br>
built with love using django!</p> -->
<p class="modified-p">This website was made using</p>
<br>
<li><p class="modified-p"><a class="green-a" href="https://www.djangoproject.com/" target="_blank">Django</a> The backend of the website was made using Django 1.9 .I used Django as I have been using python since a long time and really did not want to spend time learning other languages</p></li>

<!--<li><p class="modified-p"><a class="green-a" href="https://www.sqlite.org/" target="_blank">SQLite</a> I used SQLite v3 for the database.One of the advantages of Django was that it interacted with the database without the user having to even touch it.What is required is appropriate configuration.SQLite apart from being included by default when you start a Django project is also suitable for small sites such as this one.</p></li>-->

<li><p class="modified-p"><a class="green-a" href="https://www.getbootstrap.com/ target="_blank"">Bootstrap</a> The frontend was made using Bootstrap v3.I did not have any kind of competence with html and css.Bootstrap helped to design how to website looked without worrying about html.The documnetation provided is really good and makes Bootstrap a must for any lightweight website</p></li>

<li><p class="modified-p"><a class="green-a" href="https://ghbtns.com/" target="_blank">GitHub buttons</a> For providing the Follow an Star buttons from GitHub.These are really good.</p></li>

{% endblock %}
