{% extends "mysite/header.html" %} {% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-1 col-sm-1 col-xs-0"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
        <p class="modified-p">Fill the form below to contact me</p>
        <form class="form-horizontal" role="form" action="" method="post">
            {% csrf_token %} {% for field in form %}
            <div class="form-group">
                {{ field }}
            </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-inverse">Submit</button>
            </div>
        </form>
        <br>
        <br>
        <p class="modified-p">You can also find me at <a class="green-a" href="https://www.github.com/Subhan95/" target="_blank">
GitHub</a> and <a class="green-a" href="https://www.linkedin.com/in/subhan95/" target="_blank">LinkedIn</a></p>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-0"></div>
</div>
</div>
{% endblock %}
