<!DOCTYPE html>
<html>
<head>
<meta name="google-site-verification" content="OM06i0XCBBjE-iJZpgjDAhFmNSAFVmIbBhyKn3o9mns" />
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<title>&lt;/mohdsubhan&gt;</title>
{% load staticfiles %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.min.css' %}" type = "text/css"/> -->
<link rel="stylesheet" href="{% static 'mysite/css/custom.css' %}" type = "text/css"/>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">

<style type="text/css">
html,
body {
  height:100%
}
</style>
</head>

<body class="body" style="background-color:#f6f6f6 margin:0">

<div class="container-fluid" style="min-height:95%; ">

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed hidden-lg-up" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<a href="/" class="navbar-brand">mohdsubhan</a>

</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="/">Home</a></li>
<li><a href="/projects">Projects</a></li>
<li><a href="https://drive.google.com/file/d/0B621iZr0p0N_MnpmVWZiMy1LWE0/view?usp=sharing" target="_blank">Resume</a></li>
<li><a href="/contact">Contact</a></li>
     
</ul>
    
</div>
</div>
</nav> 


<div class="row">
<div class="col-xs-1">
</div>
<div class="col-xs-10">
<div class='container-fluid'>
<br>
<br>
<br>
<p class="modified-p">Your mail was sent successfully! I will try to get back to you as soon as possible.</p>
</div>
</div>
<div class="col-xs-1">
</div>
</div>
</div>

<div class="panel-footer">
<div class="container-fluid">

<div class="row">

<div class="col-xs-4"><p><a class="footer-a" href="https://www.linkedin.com/in/subhan95/" target="blank">LinkedIn</a> | <a class="footer-a" href="https://www.github.com/subhan95/" target="_blank">GitHub</a> | <a class="footer-a" href="/contact">Contact</a> |</p></div>

<div class="col-xs-4">
<center>
<img src="{% static 'mysite/img/comodo_secure.png' %}" alt="SSL Certificate" title="SSL Certificate" border="0" />
</center>
</div>

<div class="col-xs-4 text-right"><p>| <a class="footer-a" href="/about/website">About this site</a> | <a class="footer-a" href="https://github.com/Subhan95/PersonalWebsite" target="_blank">See Website Code</a></p>
</div>
</div>
</div>
</div>
<div class="row lowest-row">
<div class="col-xs-8"></div>
<div class="col-xs-4 text-right"><p class="lowest-row-text"> | <a class="footer-a" href="/sitemap.xml">View Sitemap</a></p></div>
</div>


</div>
</div>
</body>
</html>
