<!DOCTYPE html>
<html>

<head>
    <meta name="google-site-verification" content="OM06i0XCBBjE-iJZpgjDAhFmNSAFVmIbBhyKn3o9mns" />
    <meta name="description" content="Welcome to my personal website and blog. Know more about Python, Django, JavaScript, Software and Web Development">
    <meta name="author" content="Mohammed Subhan Khan">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous" defer></script>
    <title>mohdsubhan</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="{% static 'mysite/css/custom.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    html,
    body {
        height: 100%
    }
    </style>
    <link rel="apple-touch-icon" sizes="57x57" href="https://s3-us-west-2.amazonaws.com/libproj2359/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://s3-us-west-2.amazonaws.com/libproj2359/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://s3-us-west-2.amazonaws.com/libproj2359/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://s3-us-west-2.amazonaws.com/libproj2359/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://s3-us-west-2.amazonaws.com/libproj2359/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://s3-us-west-2.amazonaws.com/libproj2359/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://s3-us-west-2.amazonaws.com/libproj2359/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://s3-us-west-2.amazonaws.com/libproj2359/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://s3-us-west-2.amazonaws.com/libproj2359/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://s3-us-west-2.amazonaws.com/libproj2359/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://s3-us-west-2.amazonaws.com/libproj2359/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://s3-us-west-2.amazonaws.com/libproj2359/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://s3-us-west-2.amazonaws.com/libproj2359/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://s3-us-west-2.amazonaws.com/libproj2359/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="body" style="background-color:#fff; margin:0;">
    <div class="container-fluid" style="min-height:95%; ">
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed hidden-lg-up" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        {% for c in counter %} {% if c != "set_home" %}
                        <li><a href="/">Home</a></li>
                        {% endif %} {% endfor %}
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <br> {% block content %} {% endblock %}
    </div>
    <div class="panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 footer-icon">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.linkedin.com/in/subhan95/" target="_blank">
                            <span class="fa-stack fa-lg icon-linkedin">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.github.com/subhan95/" target="_blank">
                            <span class="fa-stack fa-lg icon-github">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-github fa-stack-1x"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <center>
                        <img src="{% static 'mysite/img/comodo_secure.png' %}" alt="SSL Certificate" title="SSL Certificate" border="0" />
                    </center>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 footer-info text-right">
                    <p><a class="footer-a" href="/about/website">About Website</a> | <a class="footer-a" href="https://github.com/Subhan95/PersonalWebsite" target="_blank">See Website Code</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row lowest-row">
        <div class="col-md-8 col-sm-8 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-right final-line">
            <p class="lowest-row-text"><a class="footer-a" href="/sitemap.xml">View Sitemap</a></p>
        </div>
    </div>
    </div>
    </div>
</body>

</html>
