{% extends "projects/projects_header.html" %}
{% block content %}
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8">
<h3>{{ project.title }}</h3>
<h6>on {{ project.date }}</h6>
{{ project.body|safe|linebreaks }}
<br>
<br>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/Subhan95/autopy" data-style="mega" data-count-href="/Subhan95/autopy/stargazers" data-count-api="/repos/Subhan95/autopy#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star Subhan95/autopy on GitHub">Star</a>
</div>
<div class="col-sm-2"></div>
</div>
<!-- <h3>{{ project.title }}</h3>
<h6>on {{ project.date }}</h6>
{{ project.body|safe|linebreaks }} -->

{% endblock %}
