{% extends "projects/projects_header.html" %}
{% block content %}
	{% for project in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <!-- <img src="..." alt="..."> -->
      <div class="caption">
        <h2>{{ project.title }}</h2>
        <small>{{ project.date|date:'d/m/Y' }}</small>
        <br>
        <h4>{{ project.heading|truncatechars:120 }}</h4>
        <br>
        <p>
	<!--<a href="/projects/{{ project.id }}/" class="btn btn-default" role="button">Read more</a>-->
	<a href="/projects/{{ project.slug }}/" class="btn btn-default" role="button">Read more</a>
        <br>
        <br>
<iframe src="https://ghbtns.com/github-btn.html?user=Subhan95&repo={{ project.title }}&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

        </p>
      </div>
    </div>
  </div>
  </div>
		<!-- <h5>{{ project.date|date:'Y-m-d' }}<a href='/projects/{{ project.id }}/'>
			{{ project.title }}</a></h5> -->
	{% endfor %}
	
{% endblock %}
