{% extends "posts/posts_header.html" %} {% block content %} {% for post in object_list %}
<div class="thumbnail">
    <div class="caption">
        <h3>{{ post.title }}</h3>
        <small>{{ post.date|date:'d/m/Y' }}</small>
        <br>
        <div class="img-container">
        <img class="img-responsive" src="{{ post.image }}" />
        </div>
        <br>
        <p>
            <a href="{{ post.link }}/" class="btn btn-default" role="button">Read on <i class="fa fa-medium" aria-hidden="true"></i></a>
        </p>

    </div>
</div>
{% endfor %} {% endblock %}
