.navbar-default {
  background-color: #094d0e;
  border-color: #cdd4d1;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #094d0e;
  background-color: #cdd4d1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #094d0e;
  background-color: #cdd4d1;
}

.navbar-default .navbar-nav > .active{
    color: #cdd4d1;
    background-color: #094d0e;
 }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #cdd4d1;
  background-color: #094d0e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #cdd4d1;
  background-color: #094d0e;
}
.navbar-default .navbar-toggle {
  border-color: #cdd4d1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #cdd4d1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #094d0e;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #094d0e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #094d0e;
    background-color: #cdd4d1;
  }

  .footer-icon {
    text-align: center;
  }

  .footer-info {
    text-align: center;
  }

  .final-line {
    text-align: center;
  }

  .ssl-img {
    padding: 0;
    margin: 0;
    margin-top: -50px;
  }
}

.btn-primary {
    color: #ecf0f1;
    border-color: #094d0e;
    background-color: #094d0e;
    border-radius: 0;
    font-family: "Verdana","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 110%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.btn-primary:hover,.btn-primary:focus:hover {
    color: #094d0e;
    background-color: #cdd4d1;
}

.btn-primary:active:focus {
    color: #094d0e;
    border-color: #094d0e;
    background-color: #cdd4d1 !important;
    outline: none; 
}

.btn-primary:focus {
    color: #ecf0f1;
    border-color: #094d0e;
    background-color: #094d0e;
    outline: none;
}

.btn-block {
    padding: 0% 0%;
}

.modified-p {
    font-family: "Verdana","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 120%;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;

}

.img-circle {
    border-radius: 50%;
}

a {
    outline: none; 
}

a:active {
    outline: none;
    text-decoration: underline;

}

a:focus {
    outline: none;
    text-decoration: none; 
    color : #337ab7;
}

a:focus:hover {
    text-decoration: underline;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    border-color: #094d0e;
}

.navbar-brand:hover {
    border-color: #ecf0f1;
}

.panel-footer {
    background-color: #094d0e;
    border-radius: 0;
    color: #ecf0f1 ;
    margin-right: 0;
    margin-left: 0;
}

.footer-a {
    color: #ecf0f1;
}

.footer-a:hover {
    color: #ecf0f1;
}

.footer-a:active {
    color: #ecf0f1;
}

.footer-a:focus {
    color: #ecf0f1;
}

.btn-default {
    color: #ecf0f1;
    border-color: #094d0e;
    background-color: #094d0e;
    border-radius: 8%;
    font-family: "Verdana","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.btn-default:hover,.btn-default:focus:hover {
    color: #094d0e;
    background-color: #cdd4d1;
}

.btn-default:active:focus {
    color: #094d0e;
    border-color: #094d0e;
    background-color: #cdd4d1 !important;
    outline: none; 
}

.btn-default:focus {
    color: #ecf0f1;
    border-color: #094d0e;
    background-color: #094d0e;
    outline: none;
}

.green-a {
    color: #094d0e;
}

.green-a:hover {
    color: #094d0e;
}

.green-a:active {
    color: #094d0e;
}

.green-a:focus {
    color: #094d0e;
}

.project-p {
    font-family: "Verdana","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 120%;
    text-align: justify;
}

.lowest-row {
    background-color: #002102;
    margin-right: 0;
    margin-left: 0;
}

.lowest-row-text {
    color: #ecf0f1;
}

.modified-h3 {
    font-family: "Verdana","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #094d0e;
    text-align: justify;
}

h2 {
    word-wrap: break-word;
}

h3 {
    word-wrap: break-word;
}

img.image-post {
  width: 100%;
  height: 768px;
}

.fa-stack-1x {
    color:white;
}
.icon-linkedin {
   color:#0077b5;
}

.icon-github {
    color:black;
}